@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Tinos:400,400i,700,700i');
@import "../common/variables";


body {
  padding-top: 5.3125rem;
  font: normal 100%/1 16px;
  color: $color-grey;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media #{$mediaMedium} {
    text-rendering: optimizeLegibility;
  }
}


// TYPOGRAPHY

h1, h2, h3, h4 {
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
  &.active,
  &:hover {
    &:before {
      transform: scaleX(1);
    }
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.125rem;
    width: 100%;
    height: 0.025rem;
    background-color: $color-main1;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease;
    transition-delay: .1s;
  }
}

.no-underline {
  &.active,
  &:hover {
    &:before {
      transform: scaleX(0);
    }
  }
}

button {
  padding: 0;
  color: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
}

li {
  list-style-type: none;
}

.heading-1 {
  font-size: 1.4em;
  @media #{$mediaMedium} {
    font-size: 2rem;
    letter-spacing: 0.5625rem;
  }
}

.heading-2 {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  @media #{$mediaMedium} {
    font-size: 1.5em;
  }
}

.heading-3 {
  //font-family: $fontSemibold;
  font-size: 1.125rem;
  @media #{$mediaMedium} {
    font-size: 1.375rem;
  }
}


.wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto 2em;
  padding: 0 1.25rem;
  @media #{$mediaLarge} {
    max-width: 67.5rem;
    margin: 0 auto 4rem;
    padding: 0;
  }
}
.line {
  display: block;
  width: 100vw;
  border-bottom: 4px solid $color-main1;
  margin: 4rem 0;
}

.space {
  padding: 4rem;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  font-family: "Old Standard TT", serif;
}

body {
  font-family: $font1;
  color: $color-grey;
  position: relative;
  margin: 0;
  padding: 0;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
}




