@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Tinos:400,400i,700,700i');
@import "../common/variables";


body {
  padding-top: 5.3125rem;
  font: normal 100%/1 16px;
  color: $color-grey;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media #{$mediaMedium} {
    text-rendering: optimizeLegibility;
  }
}

section {
  margin: 0;
  @media #{$mediaMedium} {
    margin-bottom: 4em;
  }
}


// TYPOGRAPHY

h1, h2, h3, h4 {
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
  &.active,
  &:hover {
    &:before {
      transform: scaleX(1);
    }
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.125rem;
    width: 100%;
    height: 0.025rem;
    background-color: $color-main1;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .3s ease;
    transition-delay: .1s;
  }
}

button {
  padding: 0;
  color: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
}

.heading-1 {
  font-size: 1.4em;
  @media #{$mediaMedium} {
    font-size: 2rem;
    letter-spacing: 0.5625rem;
  }
}

.heading-2 {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  @media #{$mediaMedium} {
    font-size: 1.5em;
  }
}

.heading-3 {
  //font-family: $fontSemibold;
  font-size: 1.125rem;
  @media #{$mediaMedium} {
    font-size: 1.375rem;
  }
}


.wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto 2em;
  padding: 0 1.25rem;
  @media #{$mediaLarge} {
    max-width: 67.5rem;
    margin: 0 auto 4rem;
    padding: 0;
  }
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, h2 {
  font-family: "Old Standard TT", serif;
}

body {
  font-family: $font1;
  color: $color-grey;
  position: relative;
  margin: 0;
  padding: 0;
}

.wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 3.3125rem;
  line-height: 3.3125rem;
  z-index: 100;
  background: #fff;
}
.header{
  transition: transform 0.25s ease-in-out;
}
.header-unpin{
  /* display: none; */
  transform: translateY(-65px);
}
.header-pin{
  /* display: block; */
  transform: translateY(0);
}



//ABOUT




.u-uppercase {
  text-transform: uppercase;
}


// h1 {
// 	font-size: 60px;
// 	font-weight: bold;
// 	text-transform: uppercase;
// 	margin: 0;
// }
// h2 {
// 	font-size: 28px;
// 	font-family: $font2;
// 	font-weight: lighter;
// 	text-transform: uppercase;
// 	margin: 0;
// 	padding: 0;
// }
// h3 {
// text-align: center;
// font-size: 22px;
// display: flex;
// justify-content: center;
// align-items: center;
// width: 300px;
// height: 150px;
// position: relative;
// text-transform: uppercase;
// margin-bottom: 0;
// }
// hr {
// 	width: 50%;
// }
// u-center-text {
// 	text-align: center;
// }
// .grid {
// 	width: 100vw;
// 	display: grid;
// 	grid-template-columns: repeat(12, 1fr);
// 	grid-template-rows: auto;
// 	grid-gap: 24px;
// 	//justify-items: center; // dziwne zachowanie kontenerów???


// }
// .nav {
// 	grid-column: 1 / 13;
// 	padding: 8px;
// 	&__list {
// 		grid-column: 2 / 12;
// 		text-align: right;
// 	}
// 	&__item {
// 		display: inline-block;
// 		padding: 0 24px;
// 		a {
// 			text-transform: uppercase;
// 			text-decoration: none;
// 			font-weight: bold;
// 			color: $color-grey;
// 		}
// 	}
// }
// .header {
// 	min-height: calc(100vh - 66px);
// 	grid-column: 3 / 11;
// 	display: flex;
// 	flex-direction: column;
// 	text-align: center;
// 	&__title {
// 	color: $color-main1;
// 	&--green {
// 		color: $color-main2;
// 	}
// 	}
// 	&__sub-title {

// 	}
// 	&__image {
// 		order: -1;
// 		width: 100%;
// 	}
// 	&__item {
// 		display: inline-block;
// 		margin: 0 8px;
// 	}
// 	}

// 	.about {
// 		grid-column: 1 / 13;
// 		grid-template-rows: repeat(8, 1fr);
// 		justify-items: center;
// 		background-image: url("../image/background3.jpg");
// 		background-attachment: fixed;
// 		background-size: cover;
// 		&__container {
// 			grid-column: 3 / 11;
// 			grid-row: 2 / 8;
// 			background: #fff;
// 			padding: 48px;
// 		}
// 		&__title {
// 			text-align: center;
// 		}
// 		&__box {
// 			float: right;
// 			text-align: right;
// 			margin: 8px;
// 			border: 4px solid #fff;
// 			transform: translateX(96px);
// 		}
// 		&__text {
// 		line-height: 24px;
// 		}
// 		&__img {
// 			display: block;
// 		}
// 		&__cv {
// 			display: block;
// 			width: 241px;
// 			padding: 16px;
// 			background: $color-main2;
// 			border-top: 4px solid #fff;
// 			text-decoration: none;
// 			color: #fff;
// 			font-weight: bold;
// 			text-align: center;
// 			transition: background 0.5s;
// 			&:hover {
// 				background: $color-grey;
// 			}
// 		}
// 		&__quote {
// 		margin-left: 48px;
// 		text-align: right;
// 		q {
// 			display: block;
// 		}
// 	}
// 	}

// 	.skills {
// 		grid-column: 1 / 13;

// 		&__title {
// 			text-align: center;
// 		}

// 		&__container {
// 			display: flex;
// 			flex-wrap: wrap;
// 			justify-content: center;
// 		}
// 		&__content {
// 			display: flex;
// 			flex-direction: column;
// 			justify-content: center;
// 			align-items: center;
// 			flex-wrap: wrap;
// 			width: 300px;
// 			margin-right: 24px;
// 			text-align: center;
// 		}
// 		&__photo {
// 			width: 150px;
// 			max-height: 150px;
// 			opacity: 0.1;
// 			transition: 1s;
// 			position: absolute;
// 			left: 75px;
// 			bottom: 0px;
// 			&:hover {
// 				width: 155px;
// 				max-height: 155px;
// 				opacity: 1;
// 			}
// 		}
// 	}
// 	.portfolio {
// 		grid-column: 1 / 13;
// 	}
// 	.portfolio__container {
// 		grid-template-rows: repeat(16, 1fr);
// 		width: 100vw; //czemu aby grid zadziałał muszę ustawić min-height i with dla kazdego pudelka, skoro moj kontener ma 100vw i 12 kolumn oraz 12 wierszy?
// 	}
// 	.portfolio__box {
// 		min-height: 400px;
// 		min-width: 300px;
// 		&--first {
// 			grid-column: 1 / span 6;
// 			grid-row: 1 / span 12;
// 			background: green;
// 		}
// 		&--second {
// 			grid-column: 5 / span 6;
// 			grid-row: 3 / span 12;
// 			background: grey;
// 		}
// 		&--third {
// 			grid-column: 2 / span 6;
// 			grid-row: 16 / span 12;
// 			background: black;
// 		}
// 			&--fourth {
// 			grid-column: 7 / span 6;
// 			grid-row: 24 / span 12;
// 			background: red;
// 		}
// 	}



// /* -------------------HEADER----------------- */
// .fa-bars {
// 	color: $color-grey;
// 	font-size: 40px;
// }
// .toggle {
// 	width: 100%;
// 	padding: 20px;
// 	text-align: right;
// 	display: none;
// 	cursor: pointer;
// }
// .header {
// 	//min-height: 100vh;
// 	//position: relative;
// 	//display: flex;
// 	// flex-direction: column;
// 	// justify-content: center;
// 	// align-items: center;
// }
// .header__awesome--fa {
// 	font-size: 24px;
// 	padding: 15px 3px;
// 	cursor: pointer;
// 	color: $color-light-grey;
// }
// .header__awesome--fa:hover {
// 	color: $color-grey;
// 	transition: 0.5s;
// }
// .header--picture {
// 	margin: 0 auto;
// 	width:660px;
// 	height:306px;
// 	background:url('../image/blue-square.jpg') no-repeat;
// 	background-size: contain;
// }
// .header__main {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	margin-bottom: 50px;
// }
// .header__h1--span {
// 	color: $color-main2;
// 	font-weight: normal;
// }
// .header--h1 {
// 	font-size: 60px;
// 	color: $color-main1;
// 	font-weight: bold;
// }
// .header--h2 {
// 	font-size: 28px;
// 	color: $color-grey;
// 	font-family: $font2;
// 	font-weight: lighter;
// }


// /* -------------Navigation-------------- */

// .navigation {
// 	position: absolute;
// 	width: 85vw;
// 	top: 0px;
// 	background-color: white;
// 	padding-top: 20px;
// }
// .navigation__ul {
// 	display: flex;
// 	justify-content: flex-end;
// 	list-style-type: none;
// 	line-height: 50px;

// }
// .navigation--li {
// 	padding: 0 16px;
// 	cursor: pointer;
// 	margin-right: 20px;
// }
// .navigation--link {
// 	color: $color-light-grey;
// 	text-transform: uppercase;
// 	text-decoration: none;
// 	font-weight: bold;
// 	font-size: 15px;
// }
// .navigation--link:hover {
// 	text-decoration: underline;
// 	color: $color-grey;
// 	transition: 0.5s;
// }


// /* --------------About-------------------- */
// .about {
// 	//display: flex;
// 	// justify-content: center;
// 	// align-items: center;
// 	// background-image: url("../image/background3.jpg");
// 	// background-attachment: fixed;
// 	// background-size: contain;
// 	// background-size: 100% 100%;
// 	// font-size: 17px;
// }
// .about__container {
// 	// background-color: white;
// 	// width: 70vw;
// 	// margin: 100px;
// 	// position: relative;
// }


// /*...............Skills................... */

// .skills__section {
// 	display: flex;
// 	justify-content: center;
// 	flex-wrap: wrap;
// }
// .skills--square {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	flex-wrap: wrap;
// 	width: 300px;
// 	margin-right: 25px;
// 	text-align: center;

// }
// .skills--photo {
// 	width: 150px;
// 	max-height: 150px;
// 	opacity: 0.1;
// 	transition: 1s;
// 	position: absolute;
// 	left: 75px;
// 	bottom: 0px;
// }
// .skills--photo:hover {
// 	width: 155px;
// 	max-height: 155px;
// 	opacity: 1;
// }
// .skills--h3 {
// text-align: center;
// font-size: 22px;
// display: flex;
// justify-content: center;
// align-items: center;
// width: 300px;
// height: 150px;
// position: relative;
// text-transform: uppercase;
// margin-bottom: 0;

// }

// /*---------------Portfolio ----------------- */

// .portfolio {
// 	margin: 25px 0;
// }
// .portfolio__container {
// 	display: flex;
// 	flex-wrap: wrap;
// 	justify-content: center;
// }
// .portfolio__container--box {
// 	width: 400px;
// 	margin: 10px 10px 0 0;
// 	transition: 2s;
// 	opacity: 0.8;
// }
// .portfolio__container--box:hover {
// flex-grow: 0.2;
// opacity: 1;
// }
// .portfolio--photo {
// 	width: 100%;
// }
// .portfolio__container--buttons {
// 	display: flex;
// }
// .portfolio--button {
// 	border: none;
// 	background-color: white;
// 	color: $color-grey;
// 	margin-right: 10px;
// 	font-size: 20px;
// }
// .fa--button {
// 	font-size: 25px;
// 	cursor: pointer;
// }
// .fa--button:hover {
// 	color: $color-main1;
// 	}

// /* --------------Footer----------------- */

// .footer {
// 	background-image: url("../image/bridge.jpg");
// 	background-size: contain;
// 	background-repeat: no-repeat;
// 	background-size: 100% 100%;
// 	position: relative;
// }
// .footer__contact {
// 	display: flex;
// 	justify-content: center;
// }
// .footer--h1 {
// 	font-size: 36px;
// }
// .footer__start {
// 	font-family: $font2;
// 	color: $color-grey;
// 	width: 100vw;
// 	text-align: center;
// 	position: absolute;
// }
// .footer__contact2 {
// 	position: absolute;
// 	margin-top: 170px;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }
// .footer__title {
// 	position: absolute;
// }
// .footer__contact--phone,
// .footer__contact--mail {
// 	width: 180px;
// 	height: 200px;
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	justify-content: center;
// 	text-align: center;
// 	color: $color-grey;
// 	z-index: 999;
// }
// .fa-envelope-o {
// 	font-size: 46px;
// }
// .footer__down  {
// 	position: absolute;
// 	bottom: 15px;
// 	text-align: center;
// 	color: $color-grey;
// }
// .fa-chevron-up {
// 	position: fixed;
// 	bottom: 20px;
// 	right: 20px;
// 	cursor: pointer;
// 	border-radius: 50%;
// 	color: white;
// 	font-size: 20px;
// 	padding: 15px 15px;
// 	background-color: $color-main2;
// 	z-index: 999;
// }

// /* ...................................BIRDS............................ */

// .container {
// 	z-index: 1;
// 	position: relative;
// 	overflow: hidden;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	min-height: 100vh;
// 	width: 100vw;
// 	background-blend-mode: soft-light;
// 	background-size: cover;
// 	background-position: center center;
// 	padding: 2rem;
// }

// .bird {
// 	background-image: url('../image/birds.svg');
// 	background-size: auto 100%;
// 	width: 88px;
// 	height: 125px;
// 	will-change: background-position;

// 	animation-name: fly-cycle;
// 	animation-timing-function: steps(10);
// 	animation-iteration-count: infinite;

// 	&--one {
// 		animation-duration: 1s;
// 		animation-delay: -0.5s;
// 	}

// 	&--two {
// 		animation-duration: 0.9s;
// 		animation-delay: -0.75s;
// 	}

// 	&--three {
// 		animation-duration: 1.25s;
// 		animation-delay: -0.25s;
// 	}

// 	&--four {
// 		animation-duration: 1.1s;
// 		animation-delay: -0.5s;
// 	}

// }

// .bird-container {
// 	position: absolute;
// 	top: 20%;
// 	left: -7.5vw;
// 	transform: scale(0);
// 	will-change: transform;

// 	animation-name: fly-right-one;
// 	animation-timing-function: linear;
// 	animation-iteration-count: infinite;

// 	&--one {
// 		animation-duration: 15s;
// 		animation-delay: 0;
// 	}

// 	&--two {
// 		animation-duration: 16s;
// 		animation-delay: 1s;
// 	}

// 	&--three {
// 		animation-duration: 14.6s;
// 		animation-delay: 9.5s;
// 	}

// 	&--four {
// 		animation-duration: 16s;
// 		animation-delay: 10.25s;
// 	}

// }

// @keyframes fly-cycle {

// 	100% {
// 		background-position: -900px 0;
// 	}

// }

// @keyframes fly-right-one {

// 	0% {
// 		left: -10%;
// 		transform: scale(0.3);}
// 	10% {
// 		left: 10%;
// 		transform: translateY(2vh) scale(0.4);}
// 	20% {
// 		left: 30%;
// 		transform: translateY(0vh) scale(0.5);}
// 	30% {
// 		left: 50%;
// 		transform: translateY(4vh) scale(0.6);}
// 	40% {
// 		left: 70%;
// 		transform: translateY(2vh) scale(0.6);}
// 	50% {
// 		left: 90%;
// 		transform: translateY(0vh) scale(0.6);}
// 	60% {
// 		left: 110%;
// 		transform: translateY(0vh) scale(0.6);}
// 	100% {
// 		left: 110%;
// 		opacity: 1;
// 		transform: translateY(0vh) scale(0.6);}
// }

// @keyframes fly-right-two {

// 	0% {
// 		left: -10%;
// 		opacity: 1;
// 		transform: translateY(-2vh) scale(0.5);}
// 	10% {
// 		left: 10%;
// 		transform: translateY(0vh) scale(0.4);}
// 	20% {
// 		left: 30%;
// 		transform: translateY(-4vh) scale(0.6);}
// 	30% {
// 		left: 50%;
// 		transform: translateY(1vh) scale(0.45);}
// 	40% {
// 		left: 70%;
// 		transform: translateY(-2.5vh) scale(0.5);}
// 	50% {
// 		left: 90%;
// 		transform: translateY(0vh) scale(0.45);}
// 	51% {
// 		left: 110%;
// 		transform: translateY(0vh) scale(0.45);}
// 	100% {
// 		left: 110%;
// 		transform: translateY(0vh) scale(0.45);}
// }


// @media only screen and (max-width: 767px) {

// /* ---------------- NAVIGATION -------------- */

// .toggle {
// 	display: block;
// }
// .navigation {
// 	z-index: 9999;
// }
// .navigation {
// 	position: fixed;
// 	top: 0;
// 	width: 100%;
// 	opacity: 0.9;
// }
// .navigation__ul {
// 	display: none;
// 	text-align: center;
// }
// .active {
// 	display: block;
// }
// .navigation--li:last-child {
// 	margin-right: 0;
// }

// /* -------------------HEADER----------------- */

// .header--picture {
// 	width:100%;
// 	max-height: 220px;
// 	background-position: center;
// 	background-size: contain;
// }
// .header__main {
// 	display: flex;
// 	width: 80%;
// 	flex-direction: column;
// 	justify-content: center;
// 	align-items: center;
// 	margin-bottom: 30px;
// }
// .header--h1 {
// 	font-size: 40px;
// 	display: flex;
// 	flex-wrap: wrap;
// 	padding: 2px;
// 	justify-content: center;
// }
// .header--h1 span {
// 	padding-left: 7px;
// }
// .header--h2 {
// 	font-size: 22px;
// 	display: flex;
// 	flex-direction: column;
// 	flex-wrap: wrap;
// 	justify-content: center;
// }

// /* --------------About-------------------- */

// .about__container {
// 	width: 80vw;
// 	margin: 30px;
// 	font-size: 15px;
// }
// .about_photo {
// 	position: static;
// 	margin: 0 auto;
// }
// .about--h1 {
// 	font-size: 30px;
// 	padding: 30px 0 0;
// }
// .section--line {
//     margin-bottom: 30px;
// }
// .about__text {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// }
// .about__text--p {
// 	margin: 2% 8% 10%;
// }

// .fa-chevron-up {
// 	display: none;
// }

// }

// @media only screen and (max-width: 560px) {
// .header--picture {
// 	max-height: 180px;
// }
// }

