.nav {
  padding: 1.25rem 0;
  @media #{$mediaMedium} {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__bar {
    margin-left: auto;
    cursor: pointer;
    width: 2.25em;
    line-height: 0;
    @media #{$mediaMedium} {
      display: none;
    }
  }

  &__bar-inner {
    display: inline-block;
    width: 100%;
    height: 0.2em;
    margin: 5px 0;
    transition: 0.4s;
    background-color: $color-grey;
  }
  &__list {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: calc(100vh - 4.0625rem);
    border-bottom: 0.0625rem solid $color-grey;
    opacity: 0;
    transition: opacity .3s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 4rem 0;
    background: $light;
    @media #{$mediaMedium} {
      position: relative;
      flex-direction: row;
      justify-content: flex-end;
      border: none;
      height: 100%;
      opacity: 1;
      margin: 0;
    }
  }
  &__item {
    display: inline-block;
    padding: 0 24px;
  }
  &__link {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
    color: $color-grey;
    @media #{$mediaMedium} {
      font-size: 1em;
    }
  }

  &--active {
    .nav__bar-inner  {
      &:first-child {
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:last-child {
        transform: rotate(45deg) translate(-12px, -10px);
      }
    }
    .nav__list {
      opacity: 1;
    }

  }

}
