.footer {
  background: url("../img/bridge.jpg");
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  &__container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  &__info {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
  }
  &__fa {
    font-size: 2.5rem;
    z-index: -1;
  }
  &__contact {
    display: flex;
    flex-direction: column;
  }
  &__contact-details {
    display: inline;
    margin: 0.75rem;
  }
  &__credits {
    text-align: center;
    margin: 0.5rem;
  }
  &__heading {
    padding-top: 4rem;
  }
}









