.footer {
  background: url("../img/bridge.jpg")no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  &__container {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }
  &__info {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
  }
  &__contact {
    display: flex;
    flex-direction: column;
  }
  &__contact-details {
    display: inline;
    margin: 0.75rem;
  }
  &__credits {
    text-align: center;
    margin: 0.5rem;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 1rem;
  }
  &__heading {
    margin-bottom: 2.5rem;
  }
}









